{% extends "base.html" %}
{% block title %}登录{% endblock %}
{% block caption %}
<div class="caption">
  <div class="container">
    <h1>重设密码</h1>
  </div>
</div>
{% endblock %}


{% block content %}
  <div class="container account-box">
    <div class="col-sm-6">
      <form action="" method="post" role="form" id="passwordresetform">{% csrf_token %}
        <p>{{ passwordresetform.new_password1 }}</p>
        <p>{{ passwordresetform.new_password2 }}</p>
        <input class="btn btn-default" type="submit" value="保存" name="savepassword"/>
      </form>
    </div>
  </div>
    {% if error %}
    <script>
      $('#passwordresetform').on('submit', function() {
          if ($('#id_new_password1').val() != $('#id_new_password2').val()) {
              $.growl('两次输入密码不同', { type: 'danger',position: {
          from: "top",
          align: "center"
    }, });
              return false;
          }
          return true;
      });
    </script>
    {% endif %}
{% endblock %}