{% extends "base.html" %} {% block title %}协议和声明{% endblock %} {% block caption %}
<div class="caption">
    <div class="container">
        <h1>协议和声明</h1>
    </div>
</div>
{% endblock %} {% block content %}

<div class="container">
    <div class="col-md-12">
        <h1 class="page-header">使用协议</h1>
        <p class="lead">特别提示</p>

        <p>请用户在使用寻味(xun-wei.com)之前仔细阅读一下各项协议并且表示同意接受寻味(xun-wei.com)使用协议的多有条款，否则请您不要使用寻味(xun-wei.com)。寻味(xun-wei.com)有权随时对本条款进行修改，修改条款后，用户选择继续访问我们的网站，即表示用户已经接受本条款的修改。</p>

        <p>用户直接或通过各类方式（如站外API引用等）间接使用寻味(xun-wei.com)的服务和数据的行为，都将被视作已无条件接受本声明所涉全部内容；若用户对本声明的任何条款有异议，请停止使用寻味(xun-wei.com)所提供的全部服务。</p>

        <p class="lead">服务内容</p>

        <p>本服务的所有内容由寻味(xun-wei.com)根据实际情况提供，寻味(xun-wei.com)拥有随时变更、中断或者终止部分或者全部服务的权利。</p>

        <p>寻味(xun-wei.com)拥有随时根据实际情况对网站提供的服务种类和形式的权利，并且因为这些调整为用户带来的损失，寻味(xun-wei.com)不承担责任。除非拥有明示规定，寻味(xun-wei.com)会及时更新以便用户了解并且同意。</p>

        <p>对于用户个人设定时造成的传递、删除以及未及时存储的错误，寻味(xun-wei.com)均不承担任何责任。</p>

        <p class="lead">用户行为</p>

        <p>用户注册成功后，便成为寻味(xun-wei.com)的合法用户。拥有一个账号和密码，用户应确保账号和密码的妥善保存，因账户和密码保管不当所造成的损失责任由用户承担。如果账号遭到未授权的试用，用户应立即通知寻味(xun-wei.com)。</p>

        <p>禁止用户从事上载包含以下内容的照片、图形、信息或其他资料。</p>
        <ul>
            <li>冒充任何人或机构，以虚伪不实的方式谎称或使人误以为与任何人或者任何机构有关。</li>
            <li>任何无权传送的内容（如内部资料，机密资料）。</li>
            <li>侵犯任何人的专利、商标、著作权、商业机密或其他专属权利之内容。</li>
            <li>广告，促销资料。</li>
            <li>干扰破坏计算机软件、硬件或者通讯设备功能的软件病毒。</li>
            <li>任何危害未成年人的内容。</li>
        </ul>

        <p>如果用户违反上述任何规定，寻味(xun-wei.com)有权要求用户改正或采取必要的措施终止为用户提供服务。</p>

        <p>寻味(xun-wei.com)欢迎用户举报任何违反上述条款的内容，以便我们对这些违法内容进行整理和删除。</p>
        <p class="lead">隐私保护</p>

        <p>保护用户隐私是寻味(xun-wei.com)的一项基本义务。寻味(xun-wei.com)向用户保证不对外公开或向第三方提供用户资料和在使用寻味网储存在网站上的非公开内容。</p>

        <p>寻味(xun-wei.com)在与第三方合作时，会要求第三方同意承担与寻味网相同的保护用户隐私的责任。否则将不与第三方进行合作。</p>

        <p>在不透露单个用户隐私资料的前提下，寻味(xun-wei.com)有权利对整个用户数据库进行数据分析并且进行商业上的利用。</p>

        <p class="lead">其他链接</p>
        <p>寻味(xun-wei.com)所提供的服务或者第三人可提供其他资源网站的链接。寻味(xun-wei.com)无法控制这些链接的来源，对于这些网站的资源是否可用或者是否会给用户带来损失，寻味网一律不负责任。</p>

        <p class="lead">附则</p>
        <p>对使用协议的解释、修改及更新权均属于寻味(xun-wei.com)所有。</p>
        <h1 class="page-header">版权声明</h1>
        <p class="lead">第一条</p>

        <p>寻味(xun-wei.com)对于其发行的包括但不限于产品或者服务的全部内容以及网站上的材料拥有版权等知识产权，受法律保护。</p>

        <p class="lead">第二条</p>

        <p>未经寻味(xun-wei.com)的书面允许，任何组织或者个人不得以任何方式对上述信息进行使用。</p>

        <p class="lead">第三条</p>

        <p>凡是侵犯寻味(xun-wei.com)网站版权等知识产权的，寻味(xun-wei.com)将依法追究其法律责任。</p>

        <p class="lead">第四条</p>

        <p>寻味(xun-wei.com)鼓励用户充分利用寻味网络平台自由地张贴和共享自己的信息，但是用户不应通过寻味(xun-wei.com)网张贴其他受版权保护的内容。寻味(xun-wei.com)如果收到正式版权投诉，将会删除这些内容。</p>

        <p>用户对于其创作并在寻味(xun-wei.com)网站上发布的合法内容依法享有著作权及其相关权利。</p>


        <h1 class="page-header">免责声明</h1>
        <p class="lead">总则</p>
        <p>用户在接受寻味(xun-wei.com)服务之前，请务必仔细阅读本条款并同意本声明。</p>
        <p>用户直接或通过各类方式（如站外API引用等）间接使用寻味(xun-wei.com)的服务和数据的行为，都将被视作已无条件接受本声明所涉全部内容；若用户对本声明的任何条款有异议，请停止使用寻味(xun-wei.com)所提供的全部服务。</p>
        <p class="lead">第一条</p>

        <p>用户以各种方式使用寻味(xun-wei.com)服务和数据（包括但不限于发表、宣传介绍、转载、浏览及利用寻味或寻味用户发布内容）的过程中，不得以任何方式利用寻味(xun-wei.com)直接或间接从事违反当地法律、以及社会公德的行为，且用户应当恪守下述承诺：</p>
        <ol>

            <li>发布、转载或提供的内容符合当地的法律法规、社会公德；</li>

            <li>不得干扰、损害和侵犯寻味(xun-wei.com)的各种合法权利与利益；</li>

            <li>遵守寻味(xun-wei.com)以及与之相关的网络服务的协议、指导原则、管理细则等；</li>
        </ol>

        <p>寻味(xun-wei.com)有权对违反上述承诺的内容予以删除。</p>
        <p class="lead">第二条</p>

        <p>寻味(xun-wei.com)仅为用户发布的内容提供存储空间，寻味(xun-wei.com)不对用户发表、转载的内容提供任何形式的保证：不保证内容满足您的要求，不保证寻味(xun-wei.com)的服务不会中断。因网络状况、通讯线路、第三方网站或管理部门的要求等任何原因而导致您不能正常使用寻味(xun-wei.com)，寻味(xun-wei.com)不承担任何法律责任。</p>


        <p>用户在寻味(xun-wei.com)发表的内容（包含但不限于寻味(xun-wei.com)目前各产品功能里的内容）仅表明其个人的立场和观点，并不代表寻味的立场或观点。作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。寻味(xun-wei.com)不承担任何法律及连带责任。</p>


        <p>用户在寻味(xun-wei.com)发布侵犯他人知识产权或其他合法权益的内容，寻味(xun-wei.com)有权予以删除，并保留移交司法机关处理的权利。</p>


        <p>个人或单位如认为寻味(xun-wei.com)上存在侵犯自身合法权益的内容，应准备好具有法律效应的证明材料，及时与寻味(xun-wei.com)取得联系，以便寻味(xun-wei.com)迅速做出处理。</p>
        <p class="lead">附则</p>

        <p>对免责声明的解释、修改及更新权均属于寻味(xun-wei.com)所有。</p>
    </div>
    <div class="placeholder"></div>
</div>


{% endblock %}
