<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon-16x16.png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="寻味，分享美食生活">
    <meta name="keywords" content="寻味,纽约美食,纽约餐馆,北美餐馆,餐馆点评,纽约点评,寻味纽约">

    <title>没有找到页面</title>

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/dark.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

</head>

<body>
	<div class="wrapper" style="background-image: url('http://xun-wei.com/static/media/headline_banner_photo/330e47e6-b8aa-40ed-bb91-ad392884edc9.jpg');">
		<div class="wrapper-inner">
			<div class="col-xs-4 col-xs-offset-4">
				<p class="error-caption">404</p>
				<p class="error-text">很抱歉，您想访问的页面不存在</p>
				<p class="error-text">
					<a href="/">返回寻味首页</a>
				</p>
			</div>
		</div>
	</div>
    
</body>

</html>
