<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <div style="background:#eee;padding:30px;margin:20px;border-radius:5px;">
        <img src="http://xun-wei.com/static/img/weibo-logo-xunwei.jpg" style="height:50px;" />
        <p style="color:#595959;font-size:32px;font-weight:bold;">重设密码</p>
        <p style="color:#595959;">亲爱的用户{{ username }}:</p>
        <p style="color:#595959;">请点击下面按钮重新设置您的寻味密码</p>
        <p style="color:#595959;"><a href="http://www.xun-wei.com/accounts/reset-password/?key={{ confirmation_code }}" style="display:inline-block;padding:7px 13px;border:1px solid #19B1AD;background:#37C6C2;border-radius:4px;text-decoration:none;color:white;">重设密码</a>
        </p>
        <p style="color:#595959;">如果链接无法打开，请复制下列地址，并粘贴到浏览器的地址栏中访问</p>
        <p style="color:#595959;">http://www.xun-wei.com/accounts/reset-password/?key={{ confirmation_code }}</p>
        <p style="color:#999999;font-size:11px;text-align:center;margin-top:80px;">&copy; 2014 寻味 | xun-wei.com All Rights Reserved</p>
        <p style="color:#999999;font-size:11px;text-align:center">
            这封邮件是由寻味(xun-wei.com)自动生成发送给成员{{ email }}，如果您不小心收到这封邮件，请直接删除。
            <br>This Email was meant to sent to {{ email }}. If you receive this Email by accident, please delete it directly. Thank you.
        </p>

    </div>
</body>

</html>
